<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="Mig & Dav" content="projet ZeCashDesk">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ZeCashDesk{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('caddie.ico') }}"/>

</head>
<body>

{% include 'header.html.twig' %}

<div class="container">
    <div class="starter-template">
       {% block body %} {% include 'page_connexion.html.twig' %} {% endblock %}
    </div>
</div>

{% include 'footer.html.twig' %}

<script src="{{ asset('js/bootstrap.min.js') }}"></script>

</body>
</html>
