<footer id="footer" class="footer">
    <div >
        <p style="text-align: center; font-weight: bold">ZeCashDesk - Designed and engineered by Miguel LETEMPLIER & David COSSÉDU</p>
    </div>
</footer>