{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <img id="profile-img" class="profile-img-card" src="{{ asset('images/cashdesk.jpg') }}"
                 style="width: 100%"/>
            <div class="form-login">
                <h4>Identifiez vous</h4>

                 {#S'il y a une erreur, on l'affiche dans un joli cadre#}
                {% if error %}
                    <div class="alert alert-danger">Wrong Login or Password !</div>
                {% endif %}

                <form action="{{ path('login_check') }}" method="post">

                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                           class="form-control input-sm chat-input" placeholder="username"/>
                    </br>
                    <input type="password" id="password" name="_password" class="form-control input-sm chat-input"
                           placeholder="password"/>
                    </br>
                    <div class="wrapper">
                    <span class="group-btn">
                    <input type="submit" value="Connexion" class="btn btn-primary btn-md">
                    </span>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}