{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="padding-top: 15% ">
        <div class="row">

            <div class="col-md-offset-2 col-md-8">
                <p class="label label-default center-block" style="font-size:  x-large">Terminal de caisse</p><br><br><br>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <p>
                    <button type="button" class="btn btn-success btn-lg center-block">Fond de caisse</button>
                    <br><br></p>
                <p>
                    <button type="button" class="btn btn-success btn-lg center-block">Démarrage caisse</button>
                    <br><br></p>
            </div>
        </div>
    </div>
{% endblock %}