{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="padding-top: 15% ">
        <div class="row">

            <div class="col-md-offset-2 col-md-8">
                <p class="label label-default center-block" style="font-size:  x-large">Interface d'administration</p><br><br><br>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <p>
                    <a href="{{ path('items_index') }}" type="button" class="btn btn-primary btn-lg center-block">Gestion des stocks</a>
                    <br><br></p>
                <p>
                    <a href="{{ path('user_index') }}" type="button" class="btn btn-primary btn-lg center-block">Gestion des comptes</a>
                    <br><br></p>
                <p>
                    <a href="{{ path('cash_desk_index') }}" type="button" class="btn btn-success btn-lg center-block">Fond de caisse</a>
                    <br><br></p>
                <p>
                    <a href="{{ path('terminal') }}" type="button" class="btn btn-success btn-lg center-block">Démarrage caisse</a>
                    <br><br></p>
            </div>
        </div>
    </div>
{% endblock %}