h1 {
    text-align: center;
}

body{
    background-color: #adadad;
}

thead {
    background-color: rgba(147, 255, 245, 0.5);
}

th {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px solid powderblue;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px solid powderblue;
}

li {
    text-align: left;
}

#globaldiv {
    display: flex;
    height: 98%;
}

#leftdiv {
    margin-right: 1%;
    align-content: center;
    width: 70%;
    /*height: 100%;*/
}

#rightdiv {
    margin-left: 1%;
    align-content: center;
    width: 30%;
    height: 98%;
}

#ticket {
    height: 100%;
    margin-bottom: 20%;
}

#quantite {
    margin-bottom: 14%;
}

#validation {
    align-content: center;
    width: 100%;
    margin-bottom: 5%;

}
#annulation{
    align-content: center;
    width: 100%;
    margin-bottom: 18%;
}

.reglement {
    align-content: center;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-bottom: 30%;
}

#footer {
    position: relative;
    background-color: black;
    width: 100%;
    padding: 2%;
    bottom: 0;
}

#retour {
    width: 100%;
}